@charset "UTF-8";
/* CSS Document */
/*this is to keep all borders contained without overlapping, collapsing*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*hero space style*/
.hero-space {
	width:100%;
  	height: 400px;
	background-size:100%;
  	background-position:center;
}
.hero img {
  width:auto;
}
.overlay1 {
	width:20%;
	margin-right:100px;
}
.overlay2 {
	width:20%;
	margin-right:100px;
}

/*sticky for the navigation*/
.sticky {  
    position: fixed;  
    width: 100%;  
    left: 0;  
    top: 0;  
    z-index: 100;  
    border-top: 0;  
}

/*This colors the background pink for desktop size*/
.grid {
  background-color: pink;
}
.grid:after {
  /*This is making the grid expand to contain the floated columns*/
  content: "";
  display: table;
  clear: both;
}

[class*='column-'] {
/*I am not sure what this does... it floats all columns left, adds border and pads the column on the right side*/
  float: left;
  padding-right: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
}
[class*='column-']:last-of-type {
/*This takes the padding off the last column*/
  padding-right: 0;
}

.grid .grid [class*='column-'] {
/*This gives the nested grids padding on the left and right*/
  padding: 0 25px;
}
.grid .grid {
/*Gives negative margins so it aligns with whatever container it's inside of; it also gives 25px padding at the bottom*/
  margin : 0 -25px 25px;
}

.wrapper {
	max-width:960px;
	margin:0 auto;
}

img {
/*keeps images 100% of their parent*/
	width:100%;
}


/*All the below creates width for the grided areas*/
.column-1-12 {
  width: 8.33%;
}
.column-2-12 {
  width: 16.66%;
}
.column-3-12 {
  width: 25%;
}
.column-4-12 {
  width: 33.33%;
}
.column-5-12 {
  width: 41.66%;
}
.column-6-12 {
  width: 50%;
}
.column-7-12 {
  width: 58.33%;
}
.column-8-12 {
  width: 66.66%;
}
.column-9-12 {
  width: 75%;
}
.column-10-12 {
  width: 83.33%;
}
.column-11-12 {
  width: 91.66%;
}
.column-12-12 {
  width: 100%;
}

/*offset using margin-left to create spaces between the grided cells*/
.offset-1-12 {
  margin-left: 8.33%;
}
.offset-2-12 {
  margin-left: 16.66%;
}
.offset-3-12 {
  margin-left: 25%;
}
.offset-4-12 {
  margin-left: 33.33%;
}
.offset-5-12 {
  margin-left: 41.66%;
}
.offset-6-12 {
  margin-left: 50%;
}
.offset-7-12 {
  margin-left: 58.33%;
}
.offset-8-12 {
  margin-left: 66.66%;
}
.offset-9-12 {
  margin-left: 75%;
}
.offset-10-12 {
  margin-left: 83.33%;
}
.offset-11-12 {
  margin-left: 91.66%;
}
.offset-12-12 {
  margin-left: 100%;
}

/*helper classes clear fix, float left, float right, center*/
.clearfix {
	clear:both;
}
.left {
	float:left;
}
.right {
	float:right;
}
.center {
	float:none;
	margin: 0 auto;
}

/*The medium query for the mobile breakpoint*/
@media only screen and (max-width: 700px) {
/*Makes columns 100% of the screen mobile size*/
  [class*='column-'] {
    width: 100%;
	border: 1px solid black;
  }
 
 /*Changes the color of the background when it breaks to mobile size*/ 
  .grid {
	  background: yellow;
  }
/*creates two column for mobile*/
  .column-mobile {
	width:50%  
  }
}

/*jquery for sticky navigation*/
$(document).ready(function() {  
var stickyNavTop = $('.nav').offset().top;  
  
var stickyNav = function(){  
var scrollTop = $(window).scrollTop();  
       
if (scrollTop > stickyNavTop) {   
    $('.nav').addClass('sticky');  
} else {  
    $('.nav').removeClass('sticky');   
}  
};  
  
stickyNav();  
  
$(window).scroll(function() {  
    stickyNav();  
});  
});	

